<!-- Freebeer non-Angular scripts, i.e. jQuery code.  -->
<script src="lib/zoom.js"></script>

<!--   <h1>Test Partial ngInclude</h1> -->

<h1>Freebeer. The Puffball GUI demo.</h1>

<ul class="menu">
  <li><a href="#/main"><i class="fa fa-home"></i></a></li>
  <li><a href="#/about"><i class="fa fa-info-circle"></i></a></li>
</ul>

<section>
  <table class="zoom-controls">
    <tr>
      <td>  
        <a href="#"><i class="fa fa-pencil-square-o"></i></a>
        <a href="#">UserName_Placeholder</a>
      </td>
      <td>  
          <label for="puff-filter">Filter:</label>
          <input type="text" id="puff-filter">
      </td>
      <td>  
          <label>Detail:</label>
        <div id="slider-puff-detail"></div>
      </td>
      <td>  
          <label for="text-zoom">Text Size:</label>
          <input type="text" id="text-zoom">

        <div id="slider-puff-text-zoom"></div>
      </td>
      <td>  
          <label for="puff-branching-level">Branching:</label>
          <input type="text" id="puff-branching-level">

        <div id="slider-puff-branching-level"></div>
      </td>
    <tr>
  </table>
</section>