/*
::::::::::::::::::README::::::::::::::::::::::
Suggestions:
  - Use em or % for fonts
  - Leave window colouring in icx display, its easier to do that in js
  - Keep to the 3 main sizes for proof of concept
  - Don't go more than 3 levels deep in nesting
  add more...

*/
/* ICX Style Configurations */
/* Mixins */
/*
 inspired by http://www.sitepoint.com/managing-responsive-breakpoints-sass/
 $breakpoint: string (represents the size of the string)
 returns @media ($threshold $name.value) {..}
*/
/***************************************************************/
.icxWorldBorder {
  position: fixed;
  height: 100%; }
  @media (max-width: 767px) {
    .icxWorldBorder {
      width: 35px; } }
  @media (min-width: 767px) {
    .icxWorldBorder {
      width: 35px; } }
  @media (min-width: 992px) {
    .icxWorldBorder {
      width: 46.66667px; } }
  @media (min-width: 1200px) {
    .icxWorldBorder {
      width: 70px; } }
