@font-face {
	font-family: 'icxicon';
	src:url('fonts/icomoon.eot?-i2j2fn');
	src:url('fonts/icomoon.eot?#iefix-i2j2fn') format('embedded-opentype'),
		url('fonts/icomoon.woff?-i2j2fn') format('woff'),
		url('fonts/icomoon.ttf?-i2j2fn') format('truetype'),
		url('fonts/icomoon.svg?-i2j2fn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icxicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-rhino:before {
	content: "\e600";
}
.icon-ferret:before {
	content: "\e601";
}
.icon-monkey:before {
	content: "\e602";
}
.icon-eel:before {
	content: "\e603";
}
.icon-gavia:before {
	content: "\e604";
}
.icon-duck:before {
	content: "\e605";
}
.icon-bird:before {
	content: "\e606";
}
.icon-tiercel:before {
	content: "\e607";
}
.icon-magpie:before {
	content: "\e608";
}
.icon-mockingbird:before {
	content: "\e609";
}
.icon-eagle:before {
	content: "\e60a";
}
.icon-loon:before {
	content: "\e60b";
}
.icon-hawk:before {
	content: "\e60c";
}
.icon-rooster:before {
	content: "\e60d";
}
.icon-vulture:before {
	content: "\e60e";
}
.icon-swan:before {
	content: "\e60f";
}
.icon-dove:before {
	content: "\e610";
}
.icon-hen:before {
	content: "\e611";
}
.icon-duckling:before {
	content: "\e612";
}
.icon-puffer:before {
	content: "\e613";
}
.icon-parrot:before {
	content: "\e614";
}
.icon-buzzard:before {
	content: "\e615";
}
.icon-kite:before {
	content: "\e616";
}
.icon-pardalote:before {
	content: "\e617";
}
.icon-turtle:before {
	content: "\e618";
}
.icon-stingray:before {
	content: "\e619";
}
.icon-shark:before {
	content: "\e61a";
}
.icon-gazelle:before {
	content: "\e61b";
}
.icon-dogfish:before {
	content: "\e61c";
}
.icon-nessie:before {
	content: "\e61d";
}
.icon-camel:before {
	content: "\e61e";
}
.icon-kitty:before {
	content: "\e61f";
}
.icon-gekko:before {
	content: "\e620";
}
.icon-cat:before {
	content: "\e621";
}
.icon-bull:before {
	content: "\e622";
}
.icon-vixen:before {
	content: "\e623";
}
.icon-horse:before {
	content: "\e624";
}
.icon-flammingo:before {
	content: "\e625";
}
.icon-coyote:before {
	content: "\e626";
}
.icon-chick:before {
	content: "\e627";
}
.icon-fox:before {
	content: "\e628";
}
.icon-rat:before {
	content: "\e629";
}
.icon-dino:before {
	content: "\e62a";
}
.icon-rabbit:before {
	content: "\e62b";
}
.icon-kitten:before {
	content: "\e62c";
}
.icon-watchdog:before {
	content: "\e62d";
}
.icon-pub:before {
	content: "\e62e";
}
.icon-playboy:before {
	content: "\e62f";
}
.icon-stalion:before {
	content: "\e630";
}
.icon-mule:before {
	content: "\e631";
}
.icon-shepherd:before {
	content: "\e632";
}
.icon-kangaroo:before {
	content: "\e633";
}
.icon-retriever:before {
	content: "\e634";
}
.icon-cow:before {
	content: "\e635";
}
.icon-zebra:before {
	content: "\e636";
}
.icon-bat:before {
	content: "\e637";
}
.icon-crocodile:before {
	content: "\e638";
}
.icon-wolf:before {
	content: "\e639";
}
.icon-polarbear:before {
	content: "\e63a";
}
.icon-boar:before {
	content: "\e63b";
}
.icon-mire:before {
	content: "\e63c";
}
.icon-chimp:before {
	content: "\e63d";
}
.icon-lion:before {
	content: "\e63e";
}
.icon-raccoon:before {
	content: "\e63f";
}
.icon-donkey:before {
	content: "\e640";
}
.icon-moose:before {
	content: "\e641";
}
.icon-leopard:before {
	content: "\e642";
}
.icon-skipper:before {
	content: "\e643";
}
.icon-kiwi:before {
	content: "\e644";
}
.icon-penguin:before {
	content: "\e645";
}
.icon-bunny:before {
	content: "\e646";
}
.icon-bobcat:before {
	content: "\e647";
}
.icon-reindeer:before {
	content: "\e648";
}
.icon-butterfly:before {
	content: "\e649";
}
.icon-elephant:before {
	content: "\e64a";
}
.icon-hippo:before {
	content: "\e64b";
}
.icon-hare:before {
	content: "\e64c";
}
.icon-goat:before {
	content: "\e64d";
}
.icon-tiger:before {
	content: "\e64e";
}
.icon-unicorn:before {
	content: "\e64f";
}
.icon-jill:before {
	content: "\e650";
}
.icon-puffin:before {
	content: "\e651";
}
.icon-seahorse:before {
	content: "\e652";
}
.icon-doe:before {
	content: "\e653";
}
.icon-squirrel:before {
	content: "\e654";
}
.icon-robin:before {
	content: "\e655";
}
.icon-bear:before {
	content: "\e656";
}
.icon-giraffe:before {
	content: "\e657";
}
.icon-cardinal:before {
	content: "\e658";
}
.icon-bluewhale:before {
	content: "\e659";
}
.icon-killerwhale:before {
	content: "\e65a";
}
.icon-spermwhale:before {
	content: "\e65b";
}
.icon-pig:before {
	content: "\e65c";
}
.icon-macaw:before {
	content: "\e65d";
}
.icon-grizzly:before {
	content: "\e65e";
}
.icon-poodle:before {
	content: "\e65f";
}
.icon-terrier:before {
	content: "\e660";
}
.icon-dachshund:before {
	content: "\e661";
}
.icon-angelfish:before {
	content: "\e662";
}
.icon-sheep:before {
	content: "\e663";
}
.icon-swordfish:before {
	content: "\e664";
}
.icon-manatee:before {
	content: "\e665";
}
.icon-armadillo:before {
	content: "\e666";
}
.icon-aardvark:before {
	content: "\e667";
}
