@charset "utf-8";

@font-face {
    font-family: Gudea;
    src: url("fonts/Gudea-Regular.otf");
}

@font-face {
    font-family: GudeaBold;
    src: url("fonts/Gudea-Bold.otf");
}

@font-face {
    font-family: 'FontAwesome';
    src: url("fonts/FontAwesome.otf");
    /*
    src: url("fonts/fontawesome-webfont.eot?v=4.1.0");
    src: url("fonts/fontawesome-webfont.eot?#iefix&v=4.1.0") format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    */
    font-weight: normal;
    font-style: normal;
}

body,
html {
    height: 100%;
    width: 100%;
    padding: 0;
}

body {
/*    background: #8585F5;*/
/*    background: #1616A8;*/
    background: #eee7d0;
    font-family: Gudea, sans-serif;
    font-size: 1em;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
}

path {
    /* fill-opacity: 0; */
}

section {
    text-align: center;
}

/* BEGIN New Tall Tree Styles */

#talltree {
    
}

#talltree .block {
    background: #FAFAFA;
/*    width: 20%;
    min-width: 20%;
    min-height: 25%;
    max-height: 25%;
*/
    border: 0px solid #eee7d0;
    padding: 20px 0 0 0;
    margin: 0 0 0 0;
    display: inline-block;
    text-align: left;
    z-index: 999;
    overflow-y: auto;
    overflow-x: hidden;
    position:relative;
    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 0.9em;
    
    transition: all 1s;
/*    transition: min-width 0.5s, min-height 0.5s, max-width 0.5s, max-height 0.5s, font-size 0.5s, top 2s, left 2s;*/
    
    float: left;

    opacity: 0.5;
}

/*#talltree #center .focused .block {*/
#talltree .block.focused  {
/*    min-width: 40%;
    max-width: 40%;
    min-height: 49.9%;
    max-height: 49.9%;
*/    font-size: 1.1em;
}

/* cursor */
#talltree .block.cursor {
    outline: 4px solid #a81a0d;
    transition: all .5s;
    z-index: 9999;
}

.block.focused .txt {
/*    max-height:40%;*/
}

#talltree .parent .txt {
    background-color: #f6faff;
}


#talltree .sibling .txt {
    background-color: #fafaec;
}

#talltree .child .txt {
    background-color: #fffafc;
}


.example-enter {
  opacity: 0.01;
  transition: opacity 5s;
}

/* not in use
.example-enter-active {
  opacity: 1;
}



.example-leave {
  opacity: 1;
  transition: opacity 5s;
}

.example-leave-active {
  opacity: 0.01;
}


#talltree line {
    transition: all 2s;
}
*/

/* END New Tall Tree Styles */


img {
    max-width:100%;
    max-height:100%;
}


p {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    clear:both;
    line-height: 1.4em;
}

a {

    text-decoration:none;
    color: #1616A8;
}

a.under {
    text-decoration:underline;
}

textarea {
    font-family: Gudea, sans-serif;
    border: 0px solid #006738;
    padding: 10px;
    margin-bottom: 10px;
    vertical-align: top;
}

em {
    font-family: GudeaBold, sans-serif;
}

h3 {
    font-family: GudeaBold, sans-serif;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}

h4 {
    font-family: GudeaBold, sans-serif;
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: 0;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}

.author {
//    position: fixed;
    font-family: GudeaBold, sans-serif;
    font-size: 1.1em;
    text-align: center;
    /* color: #2d479a; 006738 */
    position:absolute;
    top:0;
    padding-bottom:5px;
    padding-left: 0;
    padding-top: 2px;
    width:100%;
    color: #1616A8;
    /* border-bottom: 1px solid #a1a1a1; */
    z-index:15;
    display: none;
    background-color: rgba(232, 232, 232, 0.75);
}

.authorDiv {
    font-family: GudeaBold, sans-serif;
    color: #1616A8;
    float: left;
}

.authorSpan {
    font-family: GudeaBold, sans-serif;
    color: #1616A8;
}

#authorDiv {
    font-family: GudeaBold, sans-serif;
    font-size: 1.1em;
    padding: 2px;
    text-align: left;
    color: #006738;
}

.txt {
    margin: 0;
    padding: 0px 8px 0 6px;
    text-align:left;
    cursor:pointer;
    overflow-y:auto;
    overflow-x:hidden;
/*    max-height:30%;*/
    z-index:10;
    font-size: 1.1em;
    line-height: 1.5em;
}

.txt:hover {
    /* background:rgba(200,200,200,.5);*/
}

.block {
    background: #FAFAFA;
/*    width: 30%;
    min-width: 300px;
    max-height: 30%;
*/    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 4px solid #6c6175;
    padding: 20px 0 0 0;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 0px;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
    z-index: 999;
    overflow-y: hidden;
    overflow-x: hidden;
    position:relative;
    top:0;
}

.block:hover .bar{
    display : block;
    text-decoration:none;
    -webkit-animation: fadein .5s; /* Safari and Chrome */
    -moz-animation: fadein .5s; /* Firefox */
    -ms-animation: fadein .5s; /* Internet Explorer */
    -o-animation: fadein .5s; /* Opera */
    animation: fadein .5s;
}

.block:hover .author{
    display : block;
    text-decoration:none;
    -webkit-animation: fadein .5s; /* Safari and Chrome */
    -moz-animation: fadein .5s; /* Firefox */
    -ms-animation: fadein .5s; /* Internet Explorer */
    -o-animation: fadein .5s; /* Opera */
    animation: fadein .5s;
}

.downloadIcon {
    text-align: right;
    padding-top: 5px;
}

.bar {
    text-align: right;
    padding-right: 10px;
    position:absolute;
 //   position: fixed;;
    bottom:0;
    right:0;
    /* background:#EEE; */
    width:100%;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 99;
    display: none;
    background-color: rgba(222, 222, 222, 0.75);
}

.bar:hover {
    display : block;
}

.bar span {
    cursor: pointer;
}

.bar span.click{
    cursor: default;
}

.bar .icon {
    margin-right: 0.1em;
}

.bar .icon:hover {
    opacity: 0.8;
    background-color: #f1e4ea;
}

header {
    background-color: #fff;
    height: 70px;
    margin-bottom: 20px;
}

#cancelreply {
    margin-right: 0.5em;
}

header h1 {
    display: inline-block;
    text-align: center;
    color: #333;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    margin: 0 70px;
}

#parents {
}

#main-content {
    margin-bottom: 80px;
}

#children {
}

.btn {
    display: inline-block;
    padding: 5px 5px;
    color: #777;
}

.btn:hover {
    background: #ddd;
    cursor: pointer;
    color: #555;
}

.btn i {
    /* line-height: 60px; */
}

/* not in use
.zoom-controls {
    width: 100%;
}
*/

#text-zoom {
    width: 50px;
    border: 2px;
    color: black;
    font-weight: bold;
}

/* not in use
#puff-filter {
    width: 80px;
    border: 2px;
    color: black;
    font-weight: bold;
}
*/

._jsPlumb_connector {
    z-index: -1;
}

._jsPlumb_endpoint {
    z-index: 5;
}

/* not in use
.wrapper{
    position: relative;
}

.fixed-wrapper {
    position: absolute;
}
*/

#replyForm {
    left: 50%;
/*    margin-left: -250px;*/
    z-index: 1001;
    position: absolute;
    top: 200px;
    background: #FAFAFA;
    border-radius: 25px;
    text-align: center;
    padding: 8px;
    border: 4px solid #a1a1a1;
}

/*#replyForm:hover, form:hover {*/
#replyForm:hover {
    cursor: all-scroll;
}
#replyForm form > * {
    cursor: auto;
}
#replyForm form button,
#replyForm form input {
    cursor: pointer;
}

#addContentDiv {
    z-index: 20;
}

#addContentDiv:hover, #addContentDiv form:hover {
    cursor: all-scroll;
}
#addContentDiv form > * {
    cursor: auto;
}
#addContentDiv form button,
#addContentDiv form input {
    cursor: pointer;
}



.logo {
    position: absolute;
    top: 10px;
    margin-bottom: 0.8em;
    height: 50px;
}

#puffballIcon {
    position: absolute;
    z-index: 1000;
    top: 12px;
    left: 12px;
}

#puffballIcon:hover {
    cursor: pointer;
}

.menuOn {
  /* background-color: yellow */
}

.menu {
    font-family: Gudea;
    padding: 12px;
    margin-bottom: 3px;
    text-align: left;
    color: #000000;
    border: 2px solid #a1a1a1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    left: 50px;
    top: 60px;
    background-color: rgba(255, 255, 255, 0.98);
    z-index: 1000;
    width: 450px;
    font-size: 1.1em;
    line-height: 1.7em;
    text-decoration:none;
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -moz-animation: fadein 1s; /* Firefox */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera */
    animation: fadein 1s;
    max-height: 80%;
    overflow: auto;
}

.menuDos {
    font-family: Gudea;
    padding: 12px;
    margin-bottom: 3px;
    text-align: left;
    color: #000000;
    border: 2px solid #a1a1a1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    left: 500px;
    top: 60px;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 1000;
    width: 400px;
    font-size: 1.1em;
    line-height: 1.7em;
    text-decoration:none;
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -moz-animation: fadein 1s; /* Firefox */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera */
    animation: fadein 1s;
}




.menuItem {
    text-indent: 32px;
}

.leftIndent {
    margin-left: 24px;
}

.menuHeader {
    font-family: Gudea;
    text-transform: uppercase;
    display: block;
    padding-top: .7em;
    padding-bottom: 0;
    margin: 0;
    color: #000000;
    font-size: 1.2em;
}

.menuLabel {
    font-family: Gudea;
    padding-right: 5px;
    float:left;
    display: inline-block;
    clear:both;
}

.menuInput {
    float:left;
    display: inline-block;
    position: absolute;
    left: 120px;
}

.menuIcon {
    padding-left: 10px;
    cursor: pointer;
    cursor: hand;
}

.smallCaps {
    font-family: GudeaBold;
    text-transform: uppercase;
    font-size: .91em;
}

.linkTab {
    text-transform: uppercase;
    font-size: 1em;
    display: inline-block;
    float: left;
    cursor: pointer;
    cursor: hand;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    background-color: #e8e8e8;
}

.linkTabHighlighted {
    text-transform: uppercase;
    font-size: 1em;
    display: inline-block;
    float: left;
    cursor: pointer;
    cursor: hand;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    background-color: #d6d6ff;
}

.menuSection {
    border-top: 1px solid #d6d6ff;
    border-bottom: 1px solid #d6d6ff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}
/* not in use
.menuSectionEmpty {
    padding: 10px;
    margin: 10px;
}

*/
#closeDiv {
    padding-top: 0px;
    padding-left: 3px;
    padding-right: 0px;
    padding-bottom: 0;
    margin-bottom: 3px;
    text-align: right;
    color: #1616A8;
    font-size: 1.4em;
}
/* not in use
.replyBlack {
    width: 16px;
    height: 16px;
}

.replyRed {
    width: 16px;
    height: 16px;
}
*/

.private {
  background-color: #FFFFAD;
}


.private .author:before {
  display: inline-block;
  content: "";
  background-image: url(../img/sneaky.gif);
  background-size: 50% 50%;
  width: 19px;
  height: 19px;
  background-size: 100% 100%;
  margin-right: 8px;
}

.footer {
    left: 42px;
    top: 66px;
    -webkit-transform-origin: 0px 0px;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    float:left;
/*    background: #1616A8; */
    /* background: rgba(22,22,200,.9); */
    background: rgba(255,255,255,.1);
    color: #303030;
    font-family: GudeaBold;
    font-size: .9em;
    bottom: 0;
    position: fixed;
    right:0;
    z-index:1050;
    margin-left:auto;
    margin-right:auto;
}

a.footerText {
    text-decoration: none;
    font-size: .9em;
}

#adminForm {
    position: absolute;
    margin-top: 50px;
    margin-left: 100px;
    background-color: #F0F0F0;
    padding: 10px 20px 10px 15px;
    border: 2px solid #868686;
    font-family: Gudea, sans-serif;
    font-size: 1.1em;
    line-height: 1.8em;
    width: 1000px;
    max-height: 80%;
    overflow-y: auto;
}

.fixedLeft {
    position: absolute;
    left: 100px;
}

.col1 {
    width: 500px;
}

.col2 {
    position: absolute;
    left: 500px;
    top: 50px;
    width: 400px;
}

.red {
    color: #FF0000;
}

.blue {
    color: #0000FF;
}

.gray {
    color: #888888;
}

.green {
    color: #00CC00;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​
