@charset "utf-8";

@font-face {
    font-family: Gudea;
    src: url("fonts/Gudea-Regular.otf");
}

@font-face {
    font-family: GudeaBold;
    src: url("fonts/Gudea-Bold.otf");
}

body,
html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: #1616A8;
    font-family: Gudea, sans-serif;
    font-size: 1em;
}

a {
    text-decoration:none;
    color: #1616A8;
}

a.under {
    text-decoration:underline;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}

.author {
    font-family: GudeaBold;
    padding: 2px;
    text-align: left;
    /* color: #2d479a; */
    color: #006738;
    border-bottom: 1px solid #a1a1a1;;
}

.txt {
    margin: 10px 5px;
    padding: 5px;
    text-align:left;
    cursor:pointer;
}

.txt:hover {
    background:rgba(200,15,15,.5);
}

.bar {
    text-align: right;
    padding-right: 10px;
}

.block {
    background: #FAFAFA;
    width: 30%;
    min-width: 300px;
    max-height: 30%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 1px solid #a1a1a1;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 12px;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
    z-index: 999;
    overflow: hidden;
}

#main-content>div.block {
    width: 30%;
    max-height: 60%;
    overflow: auto;
}

.bar .icon:hover {
    opacity: 0.8;
    cursor: pointer;
}

header {
    background-color: #fff;
    height: 70px;
    margin-bottom: 20px;
}

header h1 {
    display: inline-block;
    text-align: center;
    color: #333;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    margin: 0 70px;
}

#parents {
    text-align: center;
}

#main-content {
    text-align: center;
    margin-bottom: 80px;
}

#children {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 5px 5px;
    color: #777;
}

.btn:hover {
    background: #ddd;
    cursor: pointer;
    color: #555;
}

.btn i {
    /* line-height: 60px; */
}

.zoom-controls {
    width: 100%;
}


#text-zoom {
    width: 50px;
    border: 2px;
    color: black;
    font-weight: bold;
}

#puff-filter {
    width: 80px;
    border: 2px;
    color: black;
    font-weight: bold;
}

._jsPlumb_connector {
    z-index: -1;
}

._jsPlumb_endpoint {
    z-index: 5;
}

.mainForm {
    z-index: 300;
    position: absolute;
    top: 200px;
    left: 200px;
    background: #FAFAFA;
    border-radius: 25px;
    text-align: center;
    padding: 8px;
    border: 4px solid #a1a1a1;
}

#replyForm {
    display: none;
    left: 50%;
    margin-left: -250px;
}

#replyForm:hover, form:hover {
    cursor: all-scroll;
}
#replyForm form > * {
    cursor: auto;
}
#replyForm form button,
#replyForm form input {
    cursor: pointer;
}

#addContentDiv {
    z-index: 20;
}

#addContentDiv:hover, #addContentDiv form:hover {
    cursor: all-scroll;
}
#addContentDiv form > * {
    cursor: auto;
}
#addContentDiv form button,
#addContentDiv form input {
    cursor: pointer;
}

.textarea {
    font-family: Gudea, sans-serif;
    border: 0px solid #006738;
    padding-left: 15px;
    padding-right: 15px;

}

.logo {
    position: absolute;
    z-index: -1;
    top: 20px;
    right: 20px;
}

.puffballIcon {
    position: absolute;
    z-index: 5;
    top: 20px;
    left: 20px;
}

.menu {
    font-family: Gudea;
    padding: 0;
    margin-bottom: 3px;
    text-align: left;
    font-weight: bold;
    color: #000000;
    border: 2px solid #a1a1a1;
    position: absolute;
    left: 15px;
    top: 60px;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 10;
    min-width: 300px;
    max-width: 35%;
    display: none;
    font-size: 1.1em;
    line-height: 1.35em;
    text-decoration:none;
}

.menuItem {
    list-style-type: none;
    padding-top: 12px;
    padding-left: 5px;
    padding-bottom: 7px;
    margin-bottom: 3px;
    color: #1616A8;
}

.closeBox {
    padding-top: 5px;
    padding-left: 3px;
    padding-right: 5px;
    padding-bottom: 0;
    margin-bottom: 3px;
    text-align: right;
    color: #1616A8;
}

.replyBlack {
    width: 16px;
    height: 16px;
}

.replyRed {
    width: 16px;
    height: 16px;
}

.private {
  background-color: #FFFFAD;
}

.private .author {
}
.private .author:before {
  display: inline-block;
  content: "";
  background-image: url(../img/sneaky.gif);
  background-size: 50% 50%;
  width: 19px;
  height: 19px;
  background-size: 100% 100%;
  margin-right: 8px;
}

.footer {
    text-align: center;
    color: #ffffff;
    font-family: GudeaBold;
    font-size: .9em;
    bottom: 15px;
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

a.footerText {
    color: #ffffff;
    text-decoration: none;
    font-size: .9em;
}