/*

Official z-index guide to all z-indices in the GUI so check here before you z-index anything ok?

001: puffball icon
100: regular puff block 
200: selected puff block
250: author and info bar
300: menu
400: reply form

*/


@charset "utf-8";

@font-face {
    font-family: Gudea;
    src: url("fonts/Gudea-Regular.otf");
}

@font-face {
    font-family: GudeaBold;
    src: url("fonts/Gudea-Bold.otf");
}

@font-face {
    font-family: 'FontAwesome';
    src: url("fonts/FontAwesome.otf");
    /*
    src: url("fonts/fontawesome-webfont.eot?v=4.1.0");
    src: url("fonts/fontawesome-webfont.eot?#iefix&v=4.1.0") format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    */
    font-weight: normal;
    font-style: normal;
}

body,
html {
    height: 100%;
    width: 100%;
    padding: 0;
}

body {
    /* background: #eee7d0; */
    background-image:url('../img/background.gif');
    background-repeat: repeat;
    font-family: Gudea, sans-serif;
    font-size: 1em;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
}

path {
    /* save this for bendy paths */
    /* fill-opacity: 0; */
}

section {
    text-align: center;
}

/* BEGIN New Tall Tree Styles */

#talltree {

}

#talltree .block {
    background: rgba(255,254,253,.97);
    /* background-color: #faf8f3; */
    border: 0px solid #eee7d0;
    padding: 12px;
    margin: 0;
    display: inline-block;
    text-align: left;
    /*    z-index: 999;*/
    position:relative;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 0.9em;

    /*   transition: all 1s; */
    /*    transition: min-width 0.5s, min-height 0.5s, max-width 0.5s, max-height 0.5s, font-size 0.5s, top 2s, left 2s;*/

    float: left;

    /*opacity: 0.5;*/
}

#talltree .block.focused  {
    font-size: 1.1em;
    overflow-x: auto;
}

/* cursor */
#talltree .block.cursor {
    outline: 4px solid rgba(0, 0, 0, 0.25);
    /*   transition: all .5s;*/
    z-index: 200;
}

.block.focused .txt {
    overflow-x: auto;
}

#talltree .parent .txt {
}


#talltree .sibling .txt {
    /*background-color: #fafaec;*/
}

#talltree .child .txt {
    /*background-color: #fffafc;*/
}


.example-enter {
    opacity: 0.01;
    /* transition: opacity 5s;*/
}



img {
    max-width:100%;
    max-height:85%;
}

.imgInBox {
    display: block;
    margin:auto;
}


p {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    clear:both;
    line-height: 1.4em;
}

a {
    text-decoration:none;
    color: #1616A8;
}

a.under {
    text-decoration:underline;
}

textarea {
    font-family: Gudea, sans-serif;
    border: 0px solid #006738;
    padding: 10px;
    margin-bottom: 10px;
    vertical-align: top;
}

em {
    font-family: GudeaBold, sans-serif;
}

h3 {
    font-family: GudeaBold, sans-serif;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}

h4 {
    font-family: GudeaBold, sans-serif;
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: 0;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.floatingCheckbox {
    float: left;
    cursor: pointer;
    padding-left: 10px;
    position: relative;
    top: .3em;
}

.clear {
    clear: both;
}

.txt {
    margin: 0;
    padding: 0;
    text-align:left;
    cursor:pointer;
    overflow-y:auto;
    overflow-x:hidden;
/*    max-height:30%;*/
/*    z-index:10;*/
    font-size: 1.1em;
    line-height: 1.5em;
}

.txt:hover {
    /* background:rgba(200,200,200,.5);*/
}

.block {
    background: #FAFAFA;
/*    width: 30%;*/
/*    min-width: 300px;*/
/*    max-height: 30%;*/
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 4px solid #6c6175;
    padding: 20px 0 0 0;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 0px;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
    z-index: 100;
    overflow-y: hidden;
    overflow-x: hidden;
    position:relative;
    top:0;
}

.hidden {
    display: none;
}

.block:hover .bar.hidden{
    display : block;
    text-decoration:none;
    -webkit-animation: fadein .5s; /* Safari and Chrome */
    -moz-animation: fadein .5s; /* Firefox */
    -ms-animation: fadein .5s; /* Internet Explorer */
    -o-animation: fadein .5s; /* Opera */
    animation: fadein .5s;
}

.block:hover .author.hidden{
    display : block;
    text-decoration:none;
    -webkit-animation: fadein .5s; /* Safari and Chrome */
    -moz-animation: fadein .5s; /* Firefox */
    -ms-animation: fadein .5s; /* Internet Explorer */
    -o-animation: fadein .5s; /* Opera */
    animation: fadein .5s;
}

.downloadIcon {
    text-align: right;
    padding-top: 5px;
}

.author {
    /*    position: fixed;*/
    font-family: GudeaBold, sans-serif;
    font-size: 1.1em;
    text-align: center;
    /*    color: #2d479a; 006738 */
    position:absolute;
    top:0;
    left: 0;
    padding-bottom:5px;
    padding-left: 0;
    padding-top: 2px;
    width:100%;
    color: #1616A8;
    z-index: 250;
    /*    border-bottom: 1px solid #a1a1a1; */
    /*    z-index:15; */
    /*    display: none;*/
    background-color: rgba(242, 242, 242, 0.85);
}

.authorDiv {
    font-family: GudeaBold, sans-serif;
    color: #1616A8;
    float: left;
}

.authorSpan {
    font-family: GudeaBold, sans-serif;
    color: #1616A8;
}

#authorDiv {
    font-family: GudeaBold, sans-serif;
    font-size: 1.1em;
    padding: 2px;
    text-align: center;
    color: #1616A8;
}

.bar {
    text-align: right;
    padding-right: 10px;
    position:absolute;
    bottom:0;
    right:0;
    width:100%;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 250;
    background-color: rgba(242, 242, 242, 0.9);
    font-size: 1em;
    line-height: 1em;
}
.bar:hover {
    display : block;
}

.bar span {
    cursor: pointer;
}

.bar span.click{
    cursor: default;
}

.bar .icon {
    margin-right: 0.1em;
}

.bar .icon:hover {
    background-color: rgba(242, 242, 242, 0.9);
}

.infoLink .detailInfo {
    font-family: GudeaBold, sans-serif;
    display: none;
    bottom:100%;
    /*right:1px;*/
    /*height:auto;*/
    width:100%;
    right: 0px;
    position:absolute;
    background-color: rgba(242, 242, 242, 0.90);
    color: #000;
}
.infoLink:hover .detailInfo, .infoLink.sfhover {
    display: block;
}

header {
    background-color: #fff;
    height: 70px;
    margin-bottom: 20px;
}

#cancelreply {
    margin-right: 0.5em;
}

header h1 {
    display: inline-block;
    text-align: center;
    color: #333;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    margin: 0 70px;
}

#parents {
}

#main-content {
    margin-bottom: 80px;
}

#children {
}


/* via bootstrap */
.btn {
  display: inline-block;
/*  padding: 6px 12px;*/
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-link {
  font-weight: normal;
  color: #428bca;
  cursor: pointer;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}

/* custom overwrites to bootstrap btn */
.btn {
    padding: 5px 5px;
    color: #777;
}

.btn:hover {
    background: #ddd;
    cursor: pointer;
    color: #555;
}

#text-zoom {
    width: 50px;
    border: 2px;
    color: black;
    font-weight: bold;
}


#replyForm {
    left: 50%;
    /*    margin-left: -250px;*/
    z-index: 400;
    position: absolute;
    top: 200px;
    background: #FAFAFA;
    border-radius: 25px;
    text-align: center;
    padding: 8px;
    border: 4px solid #a1a1a1;
    /*
    max-width: 60%;
    height: 350px;
    max-height: 80%;
    */
    /* overflow-y: auto;
    // overflow-x: auto; */
}

#replyFormBox{
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
    max-height: 100%;
}

/*#replyForm:hover, form:hover {*/
#replyForm:hover {
    cursor: all-scroll;
}

#replyForm form > * {
    cursor: auto;
}

#replyForm form > a {
    cursor: pointer; /* for firefox */
}

#replyForm form button,
#replyForm form input {
    cursor: pointer;
}

.logo {
    position: absolute;
    top: 10px;
    margin-bottom: 0.8em;
    height: 50px;
}

#puffballIcon {
    position: absolute;
    z-index: 1;
    top: 12px;
    left: 12px;
}

#puffballIcon:hover {
    cursor: pointer;
}

.menu {
    font-family: Gudea;
    padding: 12px;
    margin-bottom: 3px;
    text-align: left;
    color: #000000;
    border: 2px solid #a1a1a1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    left: 50px;
    top: 60px;
    background-color: rgba(255, 255, 255, 0.98);
    z-index: 300;
    width: 450px;
    font-size: 1.1em;
    line-height: 1.7em;
    text-decoration:none;
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -moz-animation: fadein 1s; /* Firefox */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera */
    animation: fadein 1s;
    max-height: 80%;
    overflow: auto;
}

.menuItem {
    padding-left: 32px;
}

.leftIndent {
    margin-left: 24px;
}

.menuHeader {
    font-family: Gudea;
    text-transform: uppercase;
    display: block;
    padding-top: .7em;
    padding-bottom: 0;
    margin: 0;
    color: #000000;
    font-size: 1.2em;
}

.menuLabel {
    font-family: Gudea;
    padding-right: 5px;
    float:left;
    display: inline-block;
    clear:both;
}

.menuInput {
    float:left;
    display: inline-block;
    position: absolute;
    left: 120px;
}

.menuIcon {
    padding-left: 10px;
    cursor: pointer;
    cursor: hand;
}

.smallCaps {
    font-family: GudeaBold;
    text-transform: uppercase;
    font-size: .91em;
}

.linkTab {
    text-transform: uppercase;
    font-size: 1em;
    display: inline-block;
    float: left;
    cursor: pointer;
    cursor: hand;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    background-color: #e8e8e8;
}

.linkTabHighlighted {
    text-transform: uppercase;
    font-size: 1em;
    display: inline-block;
    float: left;
    cursor: pointer;
    cursor: hand;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    background-color: #d6d6ff;
}

.menuSection {
    border-top: 1px solid #d6d6ff;
    border-bottom: 1px solid #d6d6ff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}

#closeDiv {
    padding-top: 0px;
    padding-left: 3px;
    padding-right: 0px;
    padding-bottom: 0;
    margin-bottom: 3px;
    text-align: right;
    color: #1616A8;
    font-size: 1.4em;
}

.private {
    background-color: #FFFFAD;
}

.private .author:before {
    display: inline-block;
    content: "";
    background-image: url(../img/sneaky.gif);
    background-size: 50% 50%;
    width: 19px;
    height: 19px;
    background-size: 100% 100%;
    margin-right: 8px;
}

.footer {
    left: 42px;
    top: 66px;
    -webkit-transform-origin: 0px 0px;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    float:left;
    background: rgba(255,255,255,.1);
    color: #303030;
    font-family: GudeaBold;
    font-size: .9em;
    bottom: 0;
    position: fixed;
    right:0;
    white-space: pre-wrap;
}

a.footerText {
    text-decoration: none;
    font-size: .9em;
}

.animation, .animation .block{
    transition: all 1s;

}

#adminForm {
    position: absolute;
    margin-top: 50px;
    margin-left: 100px;
    background-color: #F0F0F0;
    padding: 10px 20px 10px 15px;
    border: 2px solid #868686;
    font-family: Gudea, sans-serif;
    font-size: 1.1em;
    line-height: 1.8em;
    width: 1000px;
    max-height: 80%;
    overflow-y: auto;
}

.fixedLeft {
    position: absolute;
    left: 100px;
}

.col1 {
    width: 500px;
}

.col2 {
    position: absolute;
    left: 500px;
    top: 50px;
    width: 400px;
}

.red {
    color: #FF0000;
}

.blue {
    color: #0000FF;
}

.gray {
    color: #888888;
}

.green {
    color: #00AA00;
}

.black {
    color: #000;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Internet Explorer */
@-ms-keyframes fadein {
     from { opacity: 0; }
     to   { opacity: 1; }
 }​